URxvt*scrollWithBuffer: true
URxvt.scrollstyle:      plain
URxvt*scrollBar:  false
URxvt.secondaryScroll:  true
URxvt.saveLines:        8192
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
URxvt*geometry:  100x27
URxvt*fading:  30
URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true
URxvt.cursorBlink: true
URxvt.cursorUnderline: true

!#ObliivousGmn
!#GmnFrost

!# -------- BASE -------- #
  *foreground: 	 #9BBBC6
  *background: 	 #1C1C23
  *cursorColor:  #6EA0B4
  *colorUL:      #1E828C
!# ---------------------- #

!Black
*color0:               #323246
*color8:               #323246

!Red
*color1:               #5A7882
*color9:               #5A7882

!Green
*color2:               #8C8CA0
*color10:              #8C8CA0

!Yellow
*color3:               #1E828C
*color11:              #1E828C

!Blue
*color4:               #3C788C
*color12:              #3C788C

!Magenta
*color5:               #6EA0B4
*color13:              #6EA0B4

!Cyan
*color6:               #6E8CA0
*color14:              #6E8CA0

!White
*color7:               #96BEC8
*color15:              #96BEC8


! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    mode
! URxvt*scrollBar:                      boolean
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*inheritPixmap:                  boolean
! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
! URxvt*pointerBlank:                   boolean
! URxvt*background:                     color
! URxvt*foreground:                     color
! URxvt*color0:                         color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color